<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form>
  <div class="form-group">
    <label for=""> User Name</label>
    <input id="user_name" type="text" placeholder="enter user name">
  </div>
  <div class="form-group">
    <label for=""> User Name</label>
    <input id="email" type="email" placeholder="enter your email">
  </div>
  <div class="form-group">
    <label for=""> User Name</label>
    <input id="password" type="password" placeholder="enter your password">
  </div>
  <button id="signUp">sign up</button>
  </form>
  <script src="/js/signup.js"></script>
</body>
</html>